* {
    margin: 0px;
    padding: 0px;
  }
  body {
    font-size: 120%;
    background-image: url(img/bg-website.png)
  }

  html {
    font-family: 'Poppins', sans-serif;
  }

  :root{
    --backgroundColor: #f74c5b;
    --textColor: white;
    --textColor_1: black;
    --orange: #fb9b43;
    --teal: #448c6c;
  }
  
  .header {
    margin: auto;
    width: 30%;
    color: white;
    background: var(--backgroundColor);
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
  }
  
/* Displays logo */
  .konbini-logo img{
    max-width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .konbini-logo {
    display: flex;
    justify-content: center;
  }

/* Registration form */

  form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    background: white;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 50px;
  }

  form, .header {
    box-shadow: 10px 10px var(--orange);
  }

  .input-group {
    margin: 10px 0px 10px 0px;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
  }
  .input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    color: white;
    background: var(--backgroundColor);
    border: none;
    border-radius: 5px;
  }